*{
    margin: 0;
    padding: 0;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.link-parent{
    display: flex;
    list-style: none;
    gap: 32px;
}
.link-parent link{
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color:  var(--#000000, rgba(0, 0, 0, 1));
}
.btn{
    background-color: #21834a;
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color:rgba(255, 255, 255, 1) ;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    border: none;

}
.btn:hover{
    background-color: cornflowerblue;

}

.hero-parent{
    background: linear-gradient(
      rgba(2, 6, 23, 0.7),
      rgba(2, 6, 23, 0.7)
    ),url(../assets/hero-bg.png);
    text-align: center;
    color: white;
    padding: 250px;
    background-position:center;
    background-size: cover;

    
}
.hero{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: white;
  padding: 10px 18px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 500;
  color: #2f855a;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}
.hero img{
    width: 16px;
    height: 16px;
}

.hero-parent span{
    color: #30B868;

}

.hero-parent h1{
    padding: 16px 0px;
}

.hero-parent p{
color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 400;
text-align: center;
}

.hero-actions{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.btn-1{
    background-color: #30B868;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 12px 16px;
    margin-top: 32px;
    border-radius: 6px;
    font-size:  16px; ;
    font-weight: 600 ;
    color:rgba(255, 255, 255, 1);
    cursor: pointer; 
}
.btn-1 img{
    width: 20px;
    height: 20px;
    padding: 4px 3px;
}

.btn-1:hover{
    background-color: crimson;
}

.btn-2{
font-size: 16px;
font-weight: 600;
color: rgba(255, 255, 255, 1);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 12px 16px;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 1);
border-radius: 4px;
background: none;
margin-top: 32px;
cursor: pointer;
}
.btn-2 img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
}


.btn-2:hover{
    background-color: sienna;
}

.notes{
    border: 1px;
    padding: 70px 10%;
}

.notes h2{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    text-align: center;   
}

.notes p{
    color:var#627382;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 16px;
}

.cards{
    display: flex;
    text-align: center;
    /* justify-content: space-between; */
    margin: 120px;

}
.cards .card{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 16;
   padding: 24px;
   border-radius: 8px;
}

.cards.card.icons{
    border: 8px;
    border-radius: 50%;
    margin-bottom: 16px;

}

.card h3{
    color: #001931;
    /* font-size: 24px; */
    /* font-weight: 600; */
    text-align: center;
    margin-top: 16px;
}

.card p{
   color: #627382;
   /* font-size: 16px; */
   /* font-weight: 400; */
   text-align: center;
   margin-top: 16px;

}
.brain-part{
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60;
    border: 5px;
    margin: 100px 80px ;

}
.brain-part img{
    height: 500px;
    width: 500px;
    border-radius: 12px;
}

.text-area h5{
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding-bottom: 16px;
}
.text-area h1{
    color: #001931;
    /* font-size: 48px; */
    /* font-weight: 700; */
    text-align: left;
    padding-bottom: 16px;
}
.text-area p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.items ul{
    color: rgba(0, 25, 49, 1);
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    gap: 16;
    padding-top: 40px;
    list-style: none;
    position: absolute;
}
.features li img{
    height: 15px;
    width: 15px;
}
.challenges{
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 24;
    padding: 80px 40px;
    margin-top: 2px ;
    margin: 120px;
    border-radius: 12px;
}
.challenges h1{
    color: rgba(0, 25, 49, 1);
    font-size: 40px;
    font-weight: 700;
}
.challenges p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 24px;
}
.challenges.down-btn{
    background-color: #30B868;
    gap: 10;
    border: none;
    padding: 12px 16px;
    margin-top: 24px;
    border-radius: 6px;
    font-size:  16px; ;
    font-weight: 600 ;
    color:rgba(255, 255, 255, 1);
    cursor: pointer;  
}
.footer{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background: rgba(0, 25, 49, 1);
    padding: 120px 30px;
}
.footer p{
    color: rgba(250, 250, 250, 1);
    text-align: center;
}
.social h6{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 16px;
    padding-right: 130px;
}
.social img{
    padding-right: 140px;
}

