*{

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.link-parent{
    display: flex;
    list-style: none;
    gap: 32px;
}
.link-parent link{
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color:  var(--#000000, rgba(0, 0, 0, 1));
}
.btn{
    background-color: #21834a;
    padding: 12px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color:rgba(255, 255, 255, 1) ;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;

}