*{
    margin: 0;
    padding: 0;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.link-parent{
    display: flex;
    list-style: none;
    gap: 32px;
}
.link-parent link{
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color:  var(--#000000, rgba(0, 0, 0, 1));
}
.btn{
    background-color: #21834a;
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color:rgba(255, 255, 255, 1) ;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    border: none;

}
.btn:hover{
    background-color: cornflowerblue;

}

.hero-parent{
    background: url(../assets/hero-bg.png);
    text-align: center;
    color: white;
    padding: 250px;
    background-position:center;
    background-size: cover;

    
}
.hero{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: white;
  padding: 10px 18px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 500;
  color: #2f855a;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.hero-parent span{
    color: #30B868;

}

.hero-parent h1{
    font-size: 70px;
    font-weight: 700;
    padding: 16px 0px;
}

.hero-parent p{
color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 400;
text-align: center;
}

.hero-actions{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.btn-1{
    background-color: #30B868;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 12px 16px;
    margin-top: 32px;
    border-radius: 6px;
    font-size:  16px; ;
    font-weight: 600 ;
    color:rgba(255, 255, 255, 1);
    cursor: pointer; 
}
.btn-1 img{
    width: 20px;
    height: 20px;
    padding: 4px 3px;

}

.btn-2{
color: rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 600;
border: 1px solid #cbd5e1;
background: transparent;
padding: 12px 16px;
margin-top: 32px;
border-radius: 6px;
cursor: pointer;
}